/* Import Roboto tá»« Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base theme */
@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
    font-family: 'Roboto', system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  }

  h1, h2, h3, h4 {
    @apply font-bold;
    font-family: 'Roboto', sans-serif;
  }
}

/* helper cho card */
.card-elev {
  @apply bg-white rounded-2xl shadow-soft transition hover:shadow-md;
}
